{% comment %} {%extends 'main.html'%} {% load static %} {%block content%}
<div class="mx-auto" style="width: 200px" , margin-top:50px;>
	<div class="card" style="width: 18rem">
		<img
			class="card-img-top"
			src="{{object.image.url}}"
			alt="Card image cap"
		/>
		<div class="card-body">
			<h5 class="card-title">{{object.name}}</h5>
			<p class="card-text">Quantity:{{object.quantity}}</p>
			<a href="{%url 'list'%}" class="btn btn-secondary">GO BACK</a>
		</div>
	</div>
	{%endblock content%} {% endcomment %}



<!doctype html>
<html class="no-js" lang="en">
   <head>
      <link href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/pre_theme.min.css?v=6964784158082986412" rel="stylesheet" type="text/css" media="all" />
      <link rel="preload" as="script" href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/lazysizes.min.js?v=16106083871217147450">
      <link rel="preload" as="script" href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/nt_vendor.min.js?v=6303928358647977261">
      <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'yes-js');const t_name = "product",designMode = false,t_cartCount = 0,ThemeNameT4='kalles',ThemeNameT42='ThemeIdT4Kalles',themeIDt4 = 94645256331,ck_hostname = 'kalles-niche-none',ThemeIdT4 = "true",SopEmlT4="the4studio.net@gmail.com",ThemePuT4 = '#purchase_codet4',t_shop_currency = "USD", t_moneyFormat = "\u003cspan class=money\u003e${{amount}} \u003c\/span\u003e", t_cart_url = "\/cart",t_cartadd_url = "\/cart\/add",t_cartchange_url = "\/cart\/change", pr_re_url = "\/recommendations\/products"; try {var T4AgentNT = (navigator.userAgent.indexOf('Chrome-Lighthouse') == -1)}catch(err){var T4AgentNT = true} function onloadt4relcss(_this) {_this.onload=null;if(T4AgentNT){_this.rel='stylesheet'}} if (performance.navigation.type === 2) {location.reload(true);}</script>
      <link rel="preload" href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/style.min.css?v=8414314739778313143" as="style" onload="onloadt4relcss(this)">
      <link href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/theme.css?enable_css_minification=1&amp;v=12280308984505164574" rel="stylesheet" type="text/css" media="all" />
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Libre+Baskerville:300,300i,400,400i,500,500i&display=swap" as="style" onload="onloadt4relcss(this)">
      <link id="sett_clt4" rel="preload" href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/sett_cl.css?enable_css_minification=1&v=2741910675682627691" as="style" onload="onloadt4relcss(this)">
      <link rel="preload" href="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/line-awesome.min.css?v=3693045034938204526" as="style" onload="onloadt4relcss(this)">
      <script id="js_lzt4" src="//cdn.shopify.com/s/files/1/0332/6420/5963/t/34/assets/lazysizes.min.js?v=16106083871217147450" defer="defer"></script>
        
   </head>
   <body class="kalles_2-0 lazy_icons min_cqty_0 btnt4_style_2 zoom_tp_2 css_scrollbar template-product js_search_true cart_pos_side kalles_toolbar_true hover_img2 swatch_style_rounded swatch_list_size_small label_style_rounded wrapper_full_width header_full_true header_sticky_true hide_scrolld_true des_header_3 h_transparent_false h_tr_top_false h_banner_true top_bar_true catalog_mode_false cat_sticky_false prs_bordered_grid_1 prs_sw_limit_false search_pos_canvas t4_compare_false dark_mode_false des_btns_prmb_1 t4_cart_count_0  lazyload js_search_type rtl_false">
      <a class="in-page-link visually-hidden skip-link" href="#nt_content">Skip to content</a>
      <div id="ld_cl_bar" class="op__0 pe_none"></div>
      <div id="shopify-section-header_banner" class="shopify-section type_carousel tp_se_cdth">
      </div>
      <div id="nt_wrapper">
         <header id="ntheader" class="ntheader header_3 h_icon_iccl">
            <div class="ntheader_wrapper pr z_200">
               <div id="shopify-section-header_3" class="shopify-section sp_header_mid">
                  <div class="header__mid">
                     <div class="container">
                        <div class="row al_center css_h_se">
                           <div class="col-md-4 col-3 dn_lg">
                              <a href="/" data-id='#nt_menu_canvas' class="push_side push-menu-btn  lh__1 flex al_center">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                                    <rect width="30" height="1.5"></rect>
                                    <rect y="7" width="20" height="1.5"></rect>
                                    <rect y="14" width="30" height="1.5"></rect>
                                 </svg>
                              </a>
                           </div>
                           <div class="col-lg-2 col-md-4 col-6 tc tl_lg">
                             <h1> {{request.user}} </h1>
                           </div>
                           <div class="col dn db_lg">  
                           </div>
                           <div class="col-lg-auto col-md-4 col-3 tr col_group_btns">
                              <div class="nt_action in_flex al_center cart_des_1">
                                 <a class="icon_search push_side cb chp" data-id="#nt_search_canvas" href="/search"><i class="iccl iccl-search"></i></a>
                                 <div class="my-account ts__05 pr dn db_md">
                                    <a class="cb chp db push_side" href="/account/login" data-id="#nt_login_canvas"><i class="iccl iccl-user"></i></a>
                                 </div>
                                 <a class="icon_like cb chp pr dn db_md js_link_wis" href="/search/?view=wish"><i class="iccl iccl-heart pr"><span class="op__0 ts_op pa tcount jswcount bgb br__50 cw tc">0</span></i></a>
                                 <div class="icon_cart pr"><a class="push_side pr cb chp db" href="/cart" data-id="#nt_cart_canvas"><i class="iccl iccl-cart pr"><span class="op__0 ts_op pa tcount jsccount bgb br__50 cw tc">0</span></i></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <style>.header__mid .css_h_se {min-height: 70px}.nt_menu >li>a{height:70px}</style>
               </div>
            </div>
         </header>
         <div id="nt_content">
            <div class="sp-single sp-single-1 des_pr_layout_1 mb__60">
               <div class="bgbl pt__20 pb__20 lh__1">
                  <div class="container">
                     <div class="row al_center">
                        <div class="col">
                         
                        </div>
                      
                     </div>
                  </div>
               </div>
               <div class="container container_cat cat_default">
                  <div class="row product mt__40" id="product-4541241491595" data-featured-product-se data-id="_ppr">
                     <div class="col-md-12 col-12 thumb_left">
                        <div class="row mb__50 pr_sticky_content">
                           <div class="col-md-6 col-12 pr product-images img_action_zoom pr_sticky_img" data-pr-single-media-group>
                              <div class="row theiaStickySidebar">
                                 <div class="col-12 col-lg col_thumb">
                                    <div class="p-thumb fade_flick_1 p-thumb_ppr images sp-pr-gallery equal_nt nt_contain ratio_imgtrue position_8 nt_slider pr_carousel" data-flickity='{"initialIndex": ".media_id_8865733017739","fade":false,"draggable":">1","cellSelector": ".p-item:not(.is_varhide)","cellAlign": "center","wrapAround": true,"autoPlay": false,"prevNextButtons":true,"adaptiveHeight": true,"imagesLoaded": false, "lazyLoad": 0,"dragThreshold" : 6,"pageDots": false,"rightToLeft": true }'>
                                       <div data-grname="not4" data-grpvl="ntt4" class="img_ptw p_ptw js-sl-item p-item sp-pr-gallery__img w__100 nt_bg_lz lazyload media_id_8865731838091" data-mdid="8865731838091" data-mdtype="image" data-bgset="{{object.image.url}}" data-ratio="0.7833333333333333" data-rationav="" data-sizes="auto" data-src="{{object.image.url}}" data-width="1128" data-height="1440" data-cap="Blush Beanie" style="padding-top:127.6595745%;">
                                          <noscript><img src="{{object.image.url}}" loading="lazy" alt="Blush Beanie"></noscript>
                                       </div>
                                    </div>
                                    <span class="tc nt_labels pa pe_none cw"></span>
                                 </div>
                                 <div class="col-12 col-lg-auto col_nav nav_medium">
                                    <div class="p-nav ratio_imgtrue row equal_nt nt_cover ratio_imgtrue position_8 nt_slider pr_carousel" data-flickityjs='{"initialIndex": ".media_id_8865733017739","cellSelector": ".n-item:not(.is_varhide)","cellAlign": "left","asNavFor": ".p-thumb","wrapAround": true,"draggable": ">1","autoPlay": 0,"prevNextButtons": 0,"percentPosition": 1,"imagesLoaded": 0,"pageDots": 0,"groupCells": 3,"rightToLeft": true,"contain":  1,"freeScroll": 0}'>
                                       <div class="col-3 col-lg-12"><img class="w__100" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201128%201440%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" alt="Blush Beanie"></div>
                                    </div> 
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-12 product-infors pr_sticky_su">
                              <div class="theiaStickySidebar">
                                 <div id="shopify-section-pr_summary" class="shopify-section summary entry-summary mt__30">
                                    <h1 class="product_title entry-title" style="font-size: 18px">{{object.name}}</h1>
                                    <div class="flex wrap fl_between al_center price-review">
                                       <p class="price_range" id="price_ppr"><span class=money >Quantity:{{object.quantity}} </span></p>
                                       <a href="#tab_pr_reivew" class="rating_sp_kl dib">
                                          <div class="review-widget">
                                             <ryviu-widget-total reviews_data="17;4.88" product_id="4541241491595" handle="blush-beanie"></ryviu-widget-total>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="pr_short_des">
                                       <p class="mg__0">This is the detail view which shows detail of every item.</p>
                                    </div>            
                                   
                                    <div class="extra-link mt__35 fwsb"><a class="cd chp ajax_pp_js mr__20" href="#" data-no-instant rel="nofollow" data-id='ps_ajax_pp_js' data-url="/pages/size-guide/?view=AjaxPopup">View List</a><a class="ajax_pp_js cd chp mr__20" href="#" data-no-instant rel="nofollow" data-id='dl_ajax_pp_js' data-url="/pages/delivery-return/?view=AjaxPopup">Learn More</a><a class="ajax_pp_js cd chp" href="#" data-no-instant rel="nofollow" data-id='ask_ajax_pp_js' data-url="/search/?view=AjaxContact" data-title='Blush Beanie' data-handle='https://kalles-demo.myshopify.com/products/blush-beanie'>Go Back</a></div>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>    
   </body>
</html>