{% comment %} {%extends 'main.html'%} {% load static %} {%block content%}

<ul class="list-group">
	<div>
		{%for item in object%}
		<li
			class="
				list-group-item
				d-flex
				justify-content-around
				flex-direction:
				column
				align-items-md-stretch
			"
		>
			{{item.name}}
			<button type="button" class="btn btn-secondary btn-sm">
				{{item.quantity}}
			</button>
		</li>
		{%endfor %}
	</div>
</ul>
{%endblock%} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>PROJECT</title>

		<!-- Favicon -->
		<link
			rel="shortcut icon"
			href="https://templates.iqonic.design/posdash/html/assets/images/favicon.ico"
		/>
		<link
			rel="stylesheet"
			href="https://templates.iqonic.design/posdash/html/assets/css/backend-plugin.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://templates.iqonic.design/posdash/html/assets/css/backend.css?v=1.0.0"
		/>
		<link
			rel="stylesheet"
			href="https://templates.iqonic.design/posdash/html/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://templates.iqonic.design/posdash/html/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://templates.iqonic.design/posdash/html/assets/vendor/remixicon/fonts/remixicon.css"
		/>
	</head>
	<body class="">
		<!-- loader Start -->
		
		<!-- loader END -->
		<!-- Wrapper Start -->
		<div class="wrapper">
			<div class="iq-top-navbar">
				<div class="iq-navbar-custom">
					<nav class="navbar navbar-expand-lg navbar-light p-0">
						<div
							class="
								iq-navbar-logo
								d-flex
								align-items-center
								justify-content-between
							"
						>
							<i class="ri-menu-line wrapper-menu"></i>
							<a
								href="https://templates.iqonic.design/posdash/html/backend/index.html"
								class="header-logo"
							>
								<img
									src="https://templates.iqonic.design/posdash/html/assets/images/logo.png"
									class="img-fluid rounded-normal"
									alt="logo"
								/>
								<h5 class="logo-title ml-3">POSDash</h5>
							</a>
						</div>
						<div class="iq-search-bar device-search">
							<form action="#" class="searchbox">
								<a class="search-link" href="#"></a>
								<input
									type="text"
									class="text search-input"
									placeholder="Search here..."
								/>
							</form>
						</div>
						<div class="d-flex align-items-center">
                       
							<button
								class="navbar-toggler"
								type="button"
								data-toggle="collapse"
								data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent"
								aria-label="Toggle navigation"
							>
								<i class="ri-menu-3-line"></i>
							</button>
							<div
								class="collapse navbar-collapse"
								id="navbarSupportedContent"
							>
								<ul
									class="
										navbar-nav
										ml-auto
										navbar-list
										align-items-center
									"
								>
									<li class="nav-item nav-icon dropdown">
										<a
											href="#"
											class="
												search-toggle
												dropdown-toggle
												btn
												border
												add-btn
											"
											id="dropdownMenuButton02"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										>
											<img
												src="https://templates.iqonic.design/posdash/html/assets/images/small/flag-01.png"
												alt="img-flag"
												class="
													img-fluid
													image-flag
													mr-2
												"
											/>En
										</a>
										
									<li>
										<a
											href="#"
											class="
												btn
												border
												add-btn
												shadow-none
												mx-2
												d-none d-md-block
											"
											data-toggle="modal"
											data-target="#new-order"
											><i class="las la-plus mr-2"></i>New
											Order</a
										>
									</li>
									<li
										class="nav-item nav-icon search-content"
									>
										<a
											href="#"
											class="search-toggle rounded"
											id="dropdownSearch"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										>
											<i class="ri-search-line"></i>
										</a>
										<div
											class="
												iq-search-bar iq-sub-dropdown
												dropdown-menu
											"
											aria-labelledby="dropdownSearch"
										>
											<form
												action="#"
												class="searchbox p-2"
											>
												<div
													class="
														form-group
														mb-0
														position-relative
													"
												>
													<input
														type="text"
														class="
															text
															search-input
															font-size-12
														"
														placeholder="type here to search..."
													/>
													<a
														href="#"
														class="search-link"
														><i
															class="
																las
																la-search
															"
														></i
													></a>
												</div>
											</form>
										</div>
									</li>
									<li class="nav-item nav-icon dropdown">
										<a
											href="#"
											class="
												search-toggle
												dropdown-toggle
											"
											id="dropdownMenuButton2"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										>
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="20"
												height="20"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
												class="feather feather-mail"
											>
												<path
													d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
												></path>
												<polyline
													points="22,6 12,13 2,6"
												></polyline>
											</svg>
											<span class="bg-primary"></span>
										</a>
										<div
											class="
												iq-sub-dropdown
												dropdown-menu
											"
											aria-labelledby="dropdownMenuButton2"
										>
											<div class="card shadow-none m-0">
												<div class="card-body p-0">
													<div class="cust-title p-3">
														<div
															class="
																d-flex
																align-items-center
																justify-content-between
															"
														>		
														
									</li>
									<li class="nav-item nav-icon dropdown">
										<a
											href="#"
											class="
												search-toggle
												dropdown-toggle
											"
											id="dropdownMenuButton"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										>
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="20"
												height="20"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
												class="feather feather-bell"
											>
												<path
													d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"
												></path>
												<path
													d="M13.73 21a2 2 0 0 1-3.46 0"
												></path>
											</svg>
											<span class="bg-primary"></span>
										</a>
										<div
											class="
												iq-sub-dropdown
												dropdown-menu
											"
											aria-labelledby="dropdownMenuButton"
										>
											<div class="card shadow-none m-0">
												<div class="card-body p-0">
													<div class="cust-title p-3">
														<div
															class="
																d-flex
																align-items-center
																justify-content-between
															"
														>
		
									<li
										class="
											nav-item nav-icon
											dropdown
											caption-content
										"
									>
										<a
											href="#"
											class="
												search-toggle
												dropdown-toggle
											"
											id="dropdownMenuButton4"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										>
											<img
												src="https://templates.iqonic.design/posdash/html/assets/images/user/1.png"
												class="img-fluid rounded"
												alt="user"
											/>
										</a>
										<div
											class="
												iq-sub-dropdown
												dropdown-menu
											"
											aria-labelledby="dropdownMenuButton"
										>
											<div class="card shadow-none m-0">
												<div
													class="
														card-body
														p-0
														text-center
													"
												>
													<div
														class="
															media-body
															profile-detail
															text-center
														"
													>
														<img
															src="https://templates.iqonic.design/posdash/html/assets/images/page-img/profile-bg.jpg"
															alt="profile-bg"
															class="
																rounded-top
																img-fluid
																mb-4
															"
														/>
														<img
															src="https://templates.iqonic.design/posdash/html/assets/images/user/1.png"
															alt="profile-img"
															class="
																rounded
																profile-img
																img-fluid
																avatar-70
															"
														/>
													</div>
													
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div
				class="modal fade"
				id="new-order"
				tabindex="-1"
				role="dialog"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-body">	
						</div>
					</div>
				</div>
			</div>
			<div class="content-page">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div
								class="
									d-flex
									flex-wrap flex-wrap
									align-items-center
									justify-content-between
									mb-4
								"
							>
								<div>
									<h4 class="mb-3">Product List</h4>
									
								</div>
								<a
									href="page-add-product.html"
									class="btn btn-primary add-list"
									><i class="las la-plus mr-3"></i>Add
									Product</a
								>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="table-responsive rounded mb-3">
								<table
									class="
										data-table
										table
										mb-0
										tbl-server-info
									"
								>
									<thead class="bg-white text-uppercase">
										<tr class="ligth ligth-data">
											<th>
												<div
													class="
														checkbox
														d-inline-block
													"
												>
													<input
														type="checkbox"
														class="checkbox-input"
														id="checkbox1"
													/>
													<label
														for="checkbox1"
														class="mb-0"
													></label>
												</div>
											</th>
											<th>Product</th>
											<th>Quantity</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody class="ligth-body">
										{%for item in object%}
										<tr>
											<td>
												<div
													class="
														checkbox
														d-inline-block
													"
												>
													<input
														type="checkbox"
														class="checkbox-input"
														id="checkbox2"
													/>
													<label
														for="checkbox2"
														class="mb-0"
													></label>
												</div>
											</td>
											<td>
												<div
													class="
														d-flex
														align-items-center
													"
												>
													<img
														src="{{item.image.url}}"
														class="
															img-fluid
															rounded
															avatar-50
															mr-3
														"
														alt="image"
													/>
													<div>
														{{item.name}}
														<p class="mb-0"></p>
													</div>
												</div>
											</td>

											<td>{{item.quantity}}</td>
											<td>
												<div
													class="
														d-flex
														align-items-center
														list-action
													"
												>
													<a
														class="
															badge badge-info
															mr-2
														"
														data-toggle="tooltip"
														data-placement="top"
														title=""
														data-original-title="View"
														href="{%url 'detail' item.id %}"
														><i
															class="
																ri-eye-line
																mr-0
															"
														></i
													></a>
													<a
														class="
															badge
															bg-warning
															mr-2
														"
														data-toggle="tooltip"
														data-placement="top"
														title=""
														data-original-title="Delete"
														href="#"
														><i
															class="
																ri-delete-bin-line
																mr-0
															"
														></i
													></a>
												</div>
											</td>
										</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Page end  -->
				</div>			
			</div>
		</div>
		<!-- Wrapper End-->
		
		<!-- Backend Bundle JavaScript -->
		<script src="https://templates.iqonic.design/posdash/html/assets/js/backend-bundle.min.js"></script>

		<!-- Table Treeview JavaScript -->
		<script src="https://templates.iqonic.design/posdash/html/assets/js/table-treeview.js"></script>

		<!-- Chart Custom JavaScript -->
		<script src="https://templates.iqonic.design/posdash/html/assets/js/customizer.js"></script>

		<!-- Chart Custom JavaScript -->
		<script
			async
			src="https://templates.iqonic.design/posdash/html/assets/js/chart-custom.js"
		></script>

		<!-- app JavaScript -->
		<script src="https://templates.iqonic.design/posdash/html/assets/js/app.js"></script>
	</body>
</html>
